$font-size:110%;
$font-family: 'Roboto', sans-serif;

body{
  font-size: $font-size;
  font-family: $font-family;
  letter-spacing: 0.5px;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 600;
  line-height: 1.2;
  padding-top: 0.5rem;
  letter-spacing: 0.50;

}
p{
  color: darkslategray;
  line-height: 0.8;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 100%;
}
